body{background-color:#ffffff;color=#000000;}
a:hover{color:#ff0000;}
a{text-decoration:none;}
b{font-family: Arial,sans-serif;font-size:12px;color:#505050;}
blockquote{font-family: Arial,sans-serif;font-size:12px;color:#000000;}
h1{font-family: Arial,sans-serif;font-size:30px;color:#505050;}
li{font-family: Arial,sans-serif;font-size:12px;color:#000000;}
p{font-family: Arial,sans-serif;font-size:12px;color:#000000;}